<h1>Sign Up</h1>

<form method="POST" action="/users">
  <div><label>Username: </label><input type="text" name="user[username]" /></div>
  <div><label>Password: </label><input type="password" name="user[password]" /></div>
  <input type="submit"  />
</form>